app-id: org.deskflow.deskflow
runtime: org.kde.Platform
runtime-version: "6.8"
sdk: org.kde.Sdk
command: deskflow
finish-args:
  - --share=ipc
  - --socket=wayland
  - --socket=fallback-x11
  - --share=network
  - --device=dri
  - --talk-name=org.kde.StatusNotifierWatcher
cleanup:
  - /include
  - "*.a"
  - /bin/ei-debug-events
  - /lib/cmake
  - /lib/pkgconfig
  - /share/pkgconfig
  - /share/tomlplusplus
  - /share/cmake
  - /share/doc
  - /share/gir-1.0
  - /lib/girepository-1.0
modules:
  - name: python3-Jinja2
    buildsystem: simple
    build-commands:
      - pip3 install --verbose --exists-action=i --no-index --find-links="file://${PWD}"
        --prefix=${FLATPAK_DEST} --no-build-isolation Jinja2
    sources:
      - type: file
        url: https://files.pythonhosted.org/packages/30/6d/6de6be2d02603ab56e72997708809e8a5b0fbfee080735109b40a3564843/Jinja2-3.1.3-py3-none-any.whl
        sha256: 7d6d50dd97d52cbc355597bd845fabfbac3f551e1f99619e39a35ce8c370b5fa
      - type: file
        url: https://files.pythonhosted.org/packages/87/5b/aae44c6655f3801e81aa3eef09dbbf012431987ba564d7231722f68df02d/MarkupSafe-2.1.5.tar.gz
        sha256: d283d37a890ba4c1ae73ffadf8046435c76e7bc2247bbb63c00bd1a709c6544b
    cleanup:
      - '*'
  - name: libei
    buildsystem: meson
    config-opts:
        - -Ddocumentation=[]
        - -Dtests=disabled
        - -Dliboeffis=disabled
    sources:
        - type: git
          url: https://gitlab.freedesktop.org/libinput/libei
          tag: 1.4.0
          commit: 5d6d8e6590df210b75559a889baa9459c68d9366
  - name: libportal
    buildsystem: meson
    config-opts:
      - -Ddocs=false
      - -Dtests=false
      - -Dportal-tests=false
      - -Dvapi=false
      - -Dbackend-qt6=auto
    sources:
      - type: git
        url: https://github.com/flatpak/libportal.git
        tag: 0.9.1
        commit: 8f5dc8d192f6e31dafe69e35219e3b707bde71ce
  - name: cli11
    buildsystem: cmake-ninja
    config-opts:
      - -DCLI11_BUILD_TESTS=OFF
    sources:
      - type: git
        url: https://github.com/CLIUtils/CLI11
        tag: v2.5.0
        commit: 4160d259d961cd393fd8d67590a8c7d210207348
  - name: tomlplusplus
    buildsystem: cmake-ninja
    sources:
      - type: git
        url: https://github.com/marzer/tomlplusplus
        tag: v3.4.0
        commit: 30172438cee64926dc41fdd9c11fb3ba5b2ba9de
  - name: gtest
    buildsystem: cmake-ninja
    sources:
      - type: git
        url: https://github.com/google/googletest.git
        tag: v1.15.2
        commit: b514bdc898e2951020cbdca1304b75f5950d1f59
    cleanup:
      - '*'
  - name: deskflow
    buildsystem: cmake-ninja
    config-opts:
      - "-DCMAKE_BUILD_TYPE=Release"
    sources:
      - type: dir
        path: ../../../

