# Important: Use the same version of clang-format as:
#
# $ ./scripts/install_deps.py --only-python
# $ ./build/python/bin/clang-format --version
#
# Warning: If you use a different version of clang-format, the formatting will be different.
BasedOnStyle: LLVM
