# SPDX-FileCopyrightText: Copyright (C) 2024 Chris Rizzitello <sithlord48@gmail.com>
# SPDX-FileCopyrightText: Copyright (C) 2011 Symless Ltd.
# SPDX-FileCopyrightText: Copyright (C) 2010 Jason Axelson <BostonVaulter@gmail.com>
# SPDX-License-Identifier: MIT

# temp dirs created during build
/build
/doc/build
/dist
/deps
/tmp
/vcpkg
/vcpkg_installed
/.cache
/.venv
aqtinstall.log
Brewfile.lock.json

# typical developer-created files
deskflow-config.toml
.vscode
.DS_Store
*.code-workspace
.env*
/scripts/*.egg-info
/*.user
*.ui.autosave

#Generic linux files
**/*.directory

#CMake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles/*

# vscode folder
/.vscode

# scripts folder
/scripts

# myclient tutorial directory
/myclient
