# temp dirs created during build
/build
/bin
/dist
/deps
/tmp
/scripts/**/*.pyc
aqtinstall.log
Brewfile.lock.json
/.cache

# typical developer-created files
.vscode
.DS_Store
*.code-workspace
.env*
/scripts/*.egg-info
