[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git

[submodule "ext/WinToast"]
	path = ext/WinToast
	url = https://github.com/mohabouje/WinToast

[submodule "ext/pugixml"]
	path = ext/pugixml
	url = https://github.com/zeux/pugixml

[submodule "ext/libei"]
	path = ext/libei
	url = https://gitlab.freedesktop.org/libinput/libei.git

[submodule "ext/libportal"]
	path = ext/libportal
	url = https://github.com/flatpak/libportal.git
