<?xml version="1.0" encoding="utf-8"?>

<!-- install with: choco install Chocolatey.config -y -->
<packages>
  <package id="wixtoolset" />
  <package id="visualstudio2022buildtools"
    packageParameters="--includeRecommended --add Microsoft.VisualStudio.Workload.MSBuildTools --add Microsoft.VisualStudio.Workload.VCTools " />
</packages>