# SPDX-FileCopyrightText: 2024 Deskflow Developers
# SPDX-License-Identifier: MIT

[Desktop Entry]
Type=Application
Version=1.0
Name=Deskflow
Comment=Mouse and keyboard sharing utility
Exec=deskflow
Icon=org.deskflow.deskflow
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;
Name[zh_CN]=Deskflow
Comment[zh_CN]=键鼠共享工具
Keywords[zh_CN]=键盘;鼠标;网络;共享;
Name[ru]=Deskflow
Commnet[ru]=Приложения чтобы использовать одну мышку и клавиатуру с разными устройствами
Keywords[ru]=Передача;Трансляция;barrier;input-leap;
