[Desktop Entry]
Type=Application
Version=1.0
Name=Synergy
Comment=Keyboard and mouse sharing solution
Path=/usr/bin
Exec=/usr/bin/synergy
Icon=/usr/share/icons/synergy.svg
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;

