body {
  font-family: arial, sans-serif;
  color: #777;
  background-color: #eee;
  text-align: center;
}

a {
  color: #4099ff;
}

h2, h3 {
  margin-top: .7em;
  padding-top: 0px;
  margin-bottom: .5em;
  padding-bottom: 0em;
}

p {
  margin-top: .2em;
}

ul, ol {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

ul, li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

hr {
  background: #ccc;
  border: 0px;
  height: 1px;
  margin: 2em 0px 2em 0px;
}

div.layout {
  margin: 20px auto 20px auto;
  width: 770px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}

div.content {
  margin: 0px 20px 20px 20px;
  width: 730px;
}

div.inner-content {
  clear: both;
}

div.footer {
  clear: both;
  margin: 20px auto 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #888;
  background-color: #f3f3f3;
}

div.footer a {
  color: #888;
  white-space: nowrap;
}

div.footer p.lang {
  /* constant size so that it remains same for all languages. */
  font-size: 12px;
  width: 60%;
  margin: 20px auto 20px auto;
}

div.home p {
  padding: 0em;
  margin: 1em 0em .8em 0em;
}

div.home ul {
  padding: 0em;
  margin: 0em 0em 2em 1.3em;
}

div.home div.demo,
div.info div.donate {
  text-align: center;
}

div.info div.donate {
  margin-top: 20px;
}

div.info div.sites,
div.info div.team {
  width: 100%;
  padding-bottom: 20px;
}

div.info div.sites div.icon {
  text-align: center;
}

div.info div.team div.mugshot {
  width: 150px;
}
div.info div.team div.mugshot img {
  padding-bottom: 10px;
}

div.info div.support {
  clear: both;
}

div.menu {
  height: 1.2em;
  padding: 10px;
  background-color: #777;
  color: #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.menu a {
  color: #ddd;
}

div.premium-bar {
  background-color: #e0ffe0;
  padding: 10px;
  color: green;
}

div.menu p,
div.premium-bar p {
  margin: 0px;
  padding: 0px;
}

div.title {
  width: 100%;
  padding-top: 0px;
  margin-top: 15px;
}

div.title h1 {
  margin-top: 0px;
  padding-top: 4px;
  margin-bottom: .5em;
  padding-bottom: 0px;
}

div.title img {
  margin-left: -3px;
  margin-right: 8px;
  float: left;
}

div.home {
  padding: 0px;
  margin: 0px;
}

div.home div.title {
  float: left;
  margin-bottom: 10px;
}

div.title div.logo {
  width: 170px;
}

div.title div.logo h1 {
  font-size: 34px;
  font-weight: normal;
  line-height: 1em;
}

div.home div.title div.support {
  width: 45%;
}

/* can't use "advert" or "adsense" because of ad-blockers. */
div.home div.ga {
  margin-bottom: 20px;
  width: 728px;
  height: 90px;
}

div.info div.flattr {
  margin-top: 10px;
}

div.home div.donate,
div.download-list div.donate {
  margin-top: 8px;
  height: 25px;
}

div.home div.paypal,
div.home div.paypal form {
  height: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.home div.paypal,
div.download-list div.paypal {
  margin-right: 7px;
}

div.home div.flattr,
div.download-list div.flattr {
  margin-top: 3px;
}

div.info div.flattr,
div.info div.ohloh,
div.info div.cafepress {
  margin-top: 10px;
}

div.download-list p {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

div.download-list h3 {
  padding-top: 10px;
  margin-top: 0px;
}

/* can't use "advert" or "adsense" because of ad-blockers. */
div.download-list div.ga {
  margin-top: 3px;
  margin-bottom: 20px;
  width: 160px;
  height: 600px;
}

div.download-list div.list {
  width: 545px;
  float: left;
}

div.download-list div.list p {
  margin-top: 3px;
}

div.download-list div.list div.item {
  width: 100%;
  height: 7em;
  font-size: 1.1em;
  white-space: nowrap;
}

div.download-list div.list div.item img {
  margin-bottom: -2px;
  margin-right: 3px;
}

div.download-list div.list div.item h3 {
  margin-bottom: 5px;
}

div.download-list div.list div.item p {
  margin-top: 8px;
}

div.download-alt h2 {
  margin-bottom: 0px;
}

div.download-alt div.lists {
  width: 100%;
}

div.download-alt div.lists div.list {
  float: left;
  width: 50%;
}

div.download-file h2 span.title {
  font-weight: normal;
}

div.download-file div.text {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
}

div.download-file p.link {
  font-size: 1.2em;
}

div.download-file div.donate {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

div.download-file div.donate div.flattr {
  padding-top: 4px;
}

form div.box {
  padding-left: 11em;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

form div.box p:first-child {
  margin-top: 10px;
}

form p label {
  float: left;
  width: 120px;
  margin: 3px 10px 0px -10em;
  font-weight: bold;
  text-align: right;
}

form p input,
form p textarea {
  width: 97%;
}

form p textarea {
  height: 4em;
  font-family: arial, sans-serif;
}

form div.buttons {
  margin-top: 5px;
  margin-left: -3px;
  text-align: right;
}

form div.errors {
  display: none;
  border: 1px solid #ffaaaa;
  background-color: #ffdddd;
  color: #ff5555;
  width: 460px;
  padding: 10px;
  margin-bottom: 10px;
}

form div.errors p {
  padding: 0px;
  margin: 0px;
}

form div.box span {
  display: block;
  padding-top: 0.2em;
}

p.twitter img {
  margin-bottom: -3px;
}

div.warning {
  font-size: 1.1em;
  border: 1px solid #ffaaaa;
  background-color: #ffeaea;
  color: #ff5555;
  padding: 10px;
  margin-bottom: 10px;
}

div.warning p {
  margin: 0px;
  padding: 0px;
}

div.download-premium div.free {
  border-color: #c7c7c7;
}

div.download-premium div.premium {
  border-color: #86c972;
}

div.download-premium div.premium,
div.download-premium div.free,
div.download-premium div.or {
  float: left;
}

div.download-premium div.premium,
div.download-premium div.free,
div.download-premium div.donateMessage {
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 5px;
}

div.download-premium div.donateMessage h2 {
  padding-bottom: .5em;
}

div.download-premium div.donateMessage {
  border: 1px solid #86c972;
}

div.download-premium div.donateMessage p {
  padding: 0px;
  margin: 0px;
}

div.download-premium div.premium,
div.download-premium div.free {
  width: 250px;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 30px 0px;
}

div.download-premium div.premium h2,
div.download-premium div.free h2 {
  font-size: 2em;
  margin-bottom: 0px;
}

div.download-premium div.premium p,
div.download-premium div.free p {
  margin-bottom: 0.5em;
}

div.download-premium div.free div.info {
  height: 15.3em;
}

div.download-premium div.or {
  width: 140px;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  color: #bbb;
}

div.download-premium div.premium input[name="amount"],
div.premium-payment input[name="amount"] {
  width: 3.5em;
  float: left;
}

div.download-premium div.premium div.amount,
div.premium-payment div.amount {
  height: 2.5em;
}

div.download-premium div.premium div.slider,
div.premium-payment div.slider {
  margin: 0.9em 0px 0px 4em;
}

div.download-premium h2 {
  margin: 0px;
}

div.download-premium p {
  margin-top: .4em;
  padding-bottom: .3em;
}

div.info-dialog,
div.signup-dialog {
  font-family: arial;
  font-size: 75%;
  color: #777;
  text-align: left;
}

div.info-dialog h2,
div.signup-dialog h2 {
  margin-top: 0.2em;
}

div.signup-dialog div.error {
  padding: 5px;
  display: none;
  margin-bottom: 10px;
}

div.signup-dialog div.error p {
  margin: 0px;
  padding: 0px;
}

div.signup-dialog div.step2 {
  display: none;
}

div.signup-dialog div.step2 form {
  text-align: center;
}

div.signup-dialog div.paybuttons {
  white-space: nowrap;
  margin-bottom: 7px;
}

div.signup-dialog div.paybuttons br {
  clear: both;
}

div.signup-dialog div.creditcard,
div.signup-dialog div.paybutton {
  float: left;
  border: 1px solid #c7c7c7;
  margin-bottom: 5px;
  text-align: center;
  background-color: #f0f0f0;
}

div.signup-dialog div.paybutton
{
  height: 85px;
  width: 224px;
}

div.signup-dialog div.paybutton:first-child {
  margin-right: 20px;
}

div.signup-dialog div.paybuttons form#google {
  padding-top: 7px;
}

div.signup-dialog div.paybuttons form#paypal {
  padding-top: 10px;
}

div.signup-dialog div.paybuttons p {
  margin: 5px 0px 5px 0px;
  padding: 0px;
}

div.signup-dialog div.creditcard {
  clear: both;
  margin-top: 10px;
  width: 450px;
  padding: 5px 10px 5px 10px;
}

div.signup-dialog div.creditcard p.reassuring {
  color: green;
}

div.signup-dialog div.creditcard input {
  padding: 10px 0px 10px 0px;
}

div.premium-page span.contribute h3,
div.premium-page span.contribute p {
  color: green;
}

div.premium-page form#vote {
  width: 15em;
}

div.premium-page form#vote div.box {
  padding-right: 10px;
  padding-left: 6em;
}

div.premium-page form#vote div.buttons {
  text-align: left;
}

div.premium-page div.loginError {
  padding: 10px;
  margin-bottom: 10px;
}

div.premium-page div.loginError p {
  margin: 0px;
  padding: 0px;
}

div.premium-page form#login {
  width: 30em;
}

div.download-premium ol.votes {
  padding-left: 1.5em;
}

div.caution h2 {
  padding-top: 0.7em;
  padding-bottom: 0.2em;
}

div.caution {
  background-color: #fffded;
  border: 1px solid #ffd83a;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

div.download-premium div.caution {
  margin-right: 6px;
}

div.greenNotice {
  background-color: #e0ffe0;
  color: green;
  border: 1px solid green;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

div.premium-payment div.paypal, 
div.premium-payment div.google,
div.premium-payment div.creditcard {
  padding: 5px 0px 10px 0px;
  clear: both;
}

div.premium-payment div.paypal {
  height: 40px;
}

div.premium-payment div.google {
  height: 50px;
}

div.premium-payment div.creditcard {
  width: 50%;
}

div.premium-payment form#creditcard {
  margin-top: 10px;
}

div.premium-payment form#creditcard div.box {
  padding-right: 10px;
}

div.premium-payment div.caution,
div.premium-payment div.greenNotice {
  padding-top: .8em;
  margin-top: 15px;
}

div.premium-payment div.amount-box {
  width: 20em;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

div.premium-payment div.amount-box div.slider {
  margin-top: .5em;
}

div.premium-page ol.community-votes {
  height: 15em;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 30%;
}

div.premium-page span.success {
  color: green;
  font-weight: bold;
}

p.success {
  color: green;
  font-weight: bold;
}
