<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>Label</key>
     <string>net.sourceforge.synergy2</string>
     <key>OnDemand</key>
     <false/>
     <key>ProgramArguments</key>
     <array>
        <string>/usr/bin/synergys</string>
            <string>-f</string>
            <string>-c</string>
            <string>/Users/snorp/.synergy</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
