RewriteEngine on

# comment out if site is in root.
RewriteBase /synergy/

# only use index.php if not a real file.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule (.*) index.php?path=$1 [QSA,L]
