RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(js/.*)

# rewrite / as /?ul=&page=&a=b
# rewrite /zh/?a=b as /?ul=zh&page=&a=b
# rewrite /zh-tw/?a=b as /?ul=zh-tw&page=&a=b
# rewrite /zh-tw/download/?a=b as /?ul=zh-tw&page=download&a=b
RewriteRule ^/?((\w\w(-\w\w)?)/?)?(download|info|help|search|info|premium|privacy|press)?/?$ /index.php?ul=$2&page=$4 [QSA,PT]
