body {
  font-family: arial,sans-serif;
  color: #555;
  font-size: 80%;
  background-color: #eee;
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1em;
}

ul, li {
  margin-left: 10px;
  padding: 0px;
}

div.menu a {
  color: #eee;
}

div.layout {
  margin: 20px auto 20px auto;
  width: 770px;
  background-color: #fff;
  text-align: left;
}

div.content {
  clear: all;
  padding: 15px 20px 20px 20px;
}

div.welcome div.demo,
div.info div.donate {
  text-align: center;
}

div.info div.donate {
  margin-top: 20px;
}

div.menu {
  height: 1.2em;
  padding: 10px;
  background-color: #777;
  color: #eee;
}

div.menu div.pages {
  float: left;
}

div.menu div.intl {
  float: right;
}

div.title {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: -4px;
}

div.title h1 {
  margin-top: 0px;
  padding-top: 7px;
}

div.title img {
  margin-right: 5px;
  float: left;
}

div.welcome {
  margin-top: -20px;
}

div.welcome div.share {
  margin-left: -2px;
  height: 25px;
  width: 600px;
}

div.welcome div.content-inner {
  float: left;
  width: 400px
}

div.welcome div.advert1 {
  margin-bottom: 20px;
  float: right;
  width: 300px
}

div.welcome div.advert2 {
  margin-top: 20px;
  margin-bottom: 25px;
}

div.paypal {
  height: 20px;
}

div.info div.flattr {
  margin-top: 10px;
}

div.welcome div.donate,
div.download div.donate {
  margin-top: 8px;
  height: 25px;
  width: 100%;
}

div.welcome div.paypal,
div.welcome div.flattr,
div.download div.paypal,
div.download div.flattr {
  float: left;
}

div.welcome div.paypal,
div.download div.paypal {
  margin-right: 7px;
}

div.welcome div.flattr,
div.download div.flattr {
  margin-top: 3px;
}

div.info div.flattr,
div.info div.ohloh,
div.info div.cafepress {
  margin-top: 10px;
}

div.download div.advert1 {
  margin-top: 10px;
  float: left;
}

div.download div.advert2 {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

div.download div.list {
  float: left;
  margin-left: 25px;
  height: 50px;
  width: 520px;
}

div.download div.item {
  margin-left: 5px;
  float: left;
  width: 228px;
  height: 110px;
}

div.download div.item  img {
  margin-bottom: -2px;
  margin-right: 3px;
}

div.download div.item  h3 {
  margin-bottom: 5px;
}

div.download div.item p {
  margin-top: 8px;
}

div.download div.alt {
  clear: both;
  padding-top: 20px;
}

div.download h2 {
  margin-bottom: 0px;
}