[Desktop Entry]
Type=Application
Version=1.0
Name=Synergy
Comment=Keyboard and mouse sharing solution
Exec=
Icon=com.symless.Synergy
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;

X-Flatpak-RenamedFrom=synergy.desktop;
