<div class="creditcard">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Credit Card{/t}</h2>
    
    <p>{t}Thanks for choosing to pay with credit card using our secure site.{/t}</p>
    <img src="{$baseUrl}/img/creditcards-sm.png" />
    
    {if $showFailed}
    
    <div class="caution">
      <p>{t}Sorry, your card payment failed. Please check your details and try again.{/t}</p>
      <p>{t}Error: {/t} {$failMessage}</p>
    </div>
    
    {/if}
    
    {if $showSuccess}
    
    <div class="greenNotice">
      <p>{t}Thanks, your credit card payment of &dollar;{$amount} was successful.{/t}</p>
      <p>{t url="../premium/"}Continue to <a href="%1">Synergy Premium</a>.{/t}</p>
    </div>
    
    {/if}
    
    {if $showForm}
    
    <form class="creditcard" action="." method="post">
      <input name="amount" type="hidden" value="{$amount}" />
      <input name="userId" type="hidden" value="{$userId}" />
      <div class="box">
        <p>
          <label for="number">{t}Card number:{/t}</label>
          <input id="number" name="number" type="text" value="{$card.number}" />
        </p>
        <p>
          <label for="name">{t}Name on card:{/t}</label>
          <input id="name" name="name" type="text" value="{$card.name}" />
        </p>
        <p>
          <label for="number">{t}Expiration:{/t}</label>
          <select name="month">
          {foreach from=$monthList item=_month}
            <option value="{$_month.number}" {if $_month.number == $card.month}selected{/if}>{$_month.text}</option>
          {/foreach}
          </select>
          <select name="year">
          {for $_year=$startYear to $endYear}
            <option value="{$_year}" {if $_year == $card.year}selected{/if}>{$_year}</option>
          {/for}
          </select>
        </p>
        <p>
          <label for="cvv2">{t}Security code:{/t}</label>
          <input id="cvv2" name="cvv2" type="text" style="width: 5em" value="{$card.cvv2}" />
          <a href="http://en.wikipedia.org/wiki/Card_security_code" target="_blank">{t}Huh?{/t}</a>
        </p>
        <p>
          <label for="number">{t}Amount:{/t}</label><p style="padding-top: .2em">&dollar;{$amount}</p>
        </p>
        <p>
      </div>
      <div class="buttons">
        <input id="ok" class="ok" type="button" value="Pay now" />
      </div>
    </form>
    
    {/if}
    
  </div>

</div>
