<div class="download-premium">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">
    
    {if $showDonateMessage}
    <div class="donateMessage">
    <h2>Donate</h2>
    <p>
{t}Thanks for offering to donate! We really appreciate your support. We've
replaced our donate button with Synergy Premium. It's like donating only you
get the power to vote in return for your contribution.{/t}
    </p>
    </div>
    {/if}
    
    <div class="caution">
      <h2>{t}Urgent Appeal from Synergy!{/t}</h2>
      <p>
{t}We urgently need your help to fund the continued development of Synergy.{/t}
      </p>
      <p>
{t}Since our last sponsor cut our funding (it wasn't profitable for them),
we've been relying on Premium accounts to fund development. We are now
supporting 2 full time software engineers in the UK working on Synergy.
Most of our users create a Premium account for just $1, and although it
might not seem like much, it really is an enormous help!{/t}
      </p>
      <p>
{t}What's best is that Premium users are the only ones who can tell us what
to work on!{/t}
      </p>
      <p>
{t}Please choose the option on the left and open a Premium account for as
little as $1. You'll be helping us keep the Synergy project alive for the
price of a can of Coke! :-){/t}
      </p>
      <p><b>Nick Bolton<br /><em>{t}Synergy Project Leader{/t}</em></b></p>
    </div>
    
    <div class="premium">
      <div class="info">
        
        <h2>{t}Premium{/t}</h2>
        <p>{t}Register for Synergy Premium.{/t}</p>
        <p><a href="javascript:void(0)" id="show-info">{t}How does Premium work?{/t}</a></p>
        
        <p>{t}You decide what to contribute.{/t}</p>
        
        <input type="textbox" id="amount" name="amount" value="$1" />
        <div class="amount">
          <div class="slider"></div>
        </div>
        
        <p>{t}Use the slider or enter any value into the textbox.{/t}</p>
        
      </div>
      <p><a href="javascript:void(0)" id="show-signup">{t}Continue{/t}</a></p>
    </div>
    
    <div class="or">
      <p>{t}or{/t}</p>
    </div>
    
    <div class="free">
      <div class="info">
      
        <h2>{t}Non-premium{/t}</h2>
        <p>{t}I can't afford $1 to help Synergy.{/t}</p>
        
      </div>
      <p><a href="?list">{t}Continue{/t}</a></p>
    </div>
    
    <h3>{t}Top 10 Votes{/t}</h3>
    <p>
      {t}Register for Synergy Premium to cast your vote ($10 per vote).{/t}<br />
      {t}The highest voted issue is given our full attention for the next release.{/t}
    </p>
    <ol class="votes">
      {foreach from=$premium->getAllVotes(10) item=vote}
      <li><a href="/spit/issues/details/{$vote->issueId}/" target="_blank">#{$vote->issueId}</a> - {t votes=$vote->voteCount}%1 votes{/t}</li>
      {foreachelse}
      <li>{t}No votes.{/t}</li>
      {/foreach}
    </ol>
  
  </div>
  
  <div class="info-dialog">
    <h2>{t}Synergy Premium{/t}</h2>
    <p>
{t}Thanks for your interest in Synergy Premium, we really appreciate your
support. Funding allows us to spend more time improving Synergy.
Support the Synergy project by registering a Synergy Premium account today.{/t}
    </p>
    
    <p>
{t}If you can only contribute $1, that's totally fine by us! Anything at all
will allow us to spend more time working on Synergy.{/t}
    </p>

    <p>
{t}If you decide to contribute $10, then you get a premium vote. For each
additional $10, you get another vote. You can cast this vote on any bug
or feature. We will try our best to fix the highest voted feature in the
next version. If we can't fix it then you get your votes back, simple.{/t}
    </p>
    
    <p>
{t}It's people like you that make Synergy a better piece of software! :-){/t}
    </p>
    
    <p><a class="close" href="javascript:void(0)">{t}OK{/t}</a></p>
  </div>
  
  <div class="signup-dialog">
    <h2>{t}Synergy Premium{/t}</h2>
    <div class="step1">
      <p>
{t}Thanks for your interest in Synergy Premium, we really appreciate your
support. Funding allows us to spend more time improving Synergy.{/t}
      </p>
      <p>
{t}We promise to not spam your email and we never store passwords in
plain text (we only keep a hash).{/t}
      </p>
      <div class="error ui-state-highlight">
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <p></p>
      </div>
      <form>
        <div class="box">
          <p><label for="amount2">Amount:</label><span id="amount2"></span></p>
          <p><label for="name">Your name:</label><input id="name" type="textbox" /></p>
          <p><label for="email1">Email address:</label><input id="email1" type="textbox" /></p>
          <p><label for="email2">Confirm email:</label><input id="email2" type="textbox" /></p>
          <p><label for="password1">New password:</label><input id="password1" type="password" /></p>
          <p><label for="password2">Confirm password:</label><input id="password2" type="password" /></p>
        </div>
        <div class="buttons">
          <input class="ok" type="button" value="OK" />
          <input class="cancel" type="button" value="Cancel" />
        </div>
      </form>
    </div>
    <div class="step2">
      <p>
{t}You're almost done! Please choose a payment method.{/t}
      </p>
      
      <div class="paybuttons">
        <div class="paybutton">
          <p><i>{t}Pay with...{/t}</i></p>
          <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="SXQD4CT26Z95N">
            <input type="hidden" name="lc" value="EN">
            <input type="hidden" name="item_name" value="Synergy Premium">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="return" value="http://synergy-foss.org/premium/?success">
            <input type="hidden" name="cancel_return" value="http://synergy-foss.org/premium/?cancel">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="amount" value="10">
            <input type="hidden" name="custom">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
            <input type="image" src="{$baseUrl}/img/paypal.png" border="0">
          </form>
        
        </div>
        
        <div class="paybutton">
          <p><i>{t}Pay with...{/t}</i></p>
          <form id="google" action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/158941555171301" method="post">
          
            <input type="hidden" name="item_name_1" />
            <input type="hidden" name="item_description_1" />
            <input type="hidden" name="item_quantity_1" value="1" />
            <input type="hidden" name="item_currency_1" value="GBP"/>
            <input type="hidden" name="item_price_1" />
            <input type="hidden" name="_charset_" value="utf-8" />
            <input type="hidden" name="continue_url" value="http://synergy-foss.org/premium/?success" />
            <input type="hidden" name="shopping-cart.merchant-private-data">
            <input type="image" src="{$baseUrl}/img/google.png" border="0" />
            
          </form>
        
        </div>
        
        <div class="creditcard">
          <p><i>{t}Pay with...{/t}</i></p>
          <form id="creditcard" action="{$secureSite}/creditcard/" method="post">
            <input type="hidden" name="amount" value="10">
            <input type="image" src="{$baseUrl}/img/creditcards.png" />
          </form>
          <p class="reassuring">{t}Credit card payments will be taken through our secure site.{/t}</p>
        </div>
        
        <br />
      </div>

    </div>
  </div>

</div>
