<div class="info">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Info{/t}</h2>
    
    <h3>{t}Twitter{/t}</h3>
    <p class="twitter">
      <img src="/img/twitter-icon.png" /> {t}Follow Synergy coders!{/t}
      <a href="https://twitter.com/#!/NickBoltonUK">@NickBoltonUK</a>
      <a href="https://twitter.com/#!/SynergyDev">@SynergyDev</a>
    </p>
    
    <div class="team">
      <h3>{t}Key people{/t}</h3>
      <div class="mugshot">
        <img src="/img/team/team-nick.png" /><br />
        <b><a href="http://nbolton.net">Nick Bolton</a></b><br />
        {t}Project leader and primary developer{/t}
      </div>
      <div class="mugshot">
        <img src="/img/team/team-chris.png" /><br />
        <b>Chris Schoeneman</b><br />
        {t}Original author and project founder{/t}
      </div>
      <div class="mugshot">
        <img src="/img/team/team-sorin.png" /><br />
        <b>Sorin Sbârnea</b><br />
        {t}Founder of Synergy+ (fork project){/t}
      </div>
    </div>
    
    <div class="history">
      <h3>{t}History{/t}</h3>
<p>{t}The first incarnation of Synergy was CosmoSynergy, created by
Richard Lee and Adam Feder then at Cosmo Software, Inc. (Silicon Valley),
a subsidiary of SGI (Silicon Graphics, Inc.), at the end of 1996. They wrote
it, and Chris Schoeneman contributed, to solve a problem: most of the engineers
in Cosmo Software had both an Irix and a Windows box on their desks and
switchboxes were expensive and annoying. CosmoSynergy was a great success
but Cosmo Software declined to productize it and the company was later
closed. Synergy is a from-scratch reimplementation of CosmoSynergy. It
provides most of the features of the original and adds a few
improvements.{/t}</p>

<p>{t}Synergy+ (fork project) was started in 2009 by Sorin Sbârnea 
for the purpose of fixing bugs inherited from the original version. The
original version of Synergy had not been updated for a notable length of
time (as of 6 June 2010, the latest release was 2 April 2006). There was
never official confirmation that the original Synergy project had been
abandoned; however, there was public discussion providing speculation.
In said discussion, Chris Schoeneman (the creator of Synergy) stated that
instead of supporting a 1.3.x team, he intends on releasing version 2.0 of
Synergy, and publicly announced on 27 Aug 2008 that he has been making
progress on this version.{/t}</p>

<p>{t}Nick Bolton joined the project in 2009 and lead the re-integration
of Synergy+ back into the original Synergy project. Nick is now the project
leader and primary developer responsible for all development (bug fixes,
new features, project management, etc). Chris and Sorin still contribute
to discussion on the mailing list ocassionally.{/t}</p>
    </div>
    
    <script type="text/javascript" src="http://www.ohloh.net/p/349663/widgets/project_basic_stats.js"></script>
    
  </div>

</div>
