<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- Mac OSX only: Copy this plist file into [~]/Library/LaunchAgents to start synergy client automatically. Make sure you change the IP below. -->
<dict>
     <key>Label</key>
     <string>org.symless.com.synergyc.plist</string>
     <key>OnDemand</key>
     <false/>
     <key>ProgramArguments</key>
     <array>
        <string>/usr/bin/synergyc</string>
        <!-- Replace this IP with the IP of your synergys server -->
        <string>192.168.0.2</string>
     </array>
     <key>RunAtLoad</key>
     <true/>
</dict>
</plist>
