<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- Mac OSX only: Copy this plist file into [~]/Library/LaunchAgents to start synergy server automatically. Make sure you change configuration file below -->
<dict>
     <key>Label</key>
     <string>org.symless.com.synergys.plist</string>
     <key>OnDemand</key>
     <false/>
     <key>ProgramArguments</key>
     <array>
        <string>/usr/bin/synergys</string>
            <string>--no-daemon</string>
            <string>--config</string>
            <!-- Replace this path with the path to your synergy configuration -->
            <string>/Users/snorp/.synergy.conf</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
