# sample synergy configuration file
#
# comments begin with the # character and continue to the end of
# line.  comments may appear anywhere the syntax permits.

section: screens
	# three hosts, named "moe", "larry", and "curly"
	moe:
	larry:
	curly:
end

section: links
	# for moe, larry is to the right and curly is above.
	moe:
		right = larry
		up    = curly

	# for larry, moe is to the left and curly is also above.
	# note that curly is above both moe and larry
	# and that the connection between moe and larry is symmetric
	# (i.e. they're in opposite directions of each other).
	larry:
		left  = moe
		up    = curly

	# for curly, larry is below.
	# if you move up from moe, and then move down,
	# you'll end up on larry, not back at moe.
	curly:
		down  = larry
end

section: aliases
	# curly is also known as shemp
	curly:
		shemp
end
