<div class="premium-payment">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Synergy Premium{/t}</h2>
    <p class="success">{t}Thanks again for supporting the Synergy project! You rock!{/t}</p>
    
    <div class="amount-box">
      <input type="textbox" id="amount" name="amount" value="${$amount}" />
      <div class="amount">
        <div class="slider"></div>
      </div>
    </div>
    <input type="hidden" name="userId" value="{$userId}">
    
    <p>
{t email=$helpEmail}Please confirm the amount above, and choose a payment
method (click on a logo or enter your card details). Each premium vote costs
$10, but you can contribute as little as $1 if you just want to help out.
If you need help making a payment or have any feedback please
<a href="mailto:%1">email us</a> and we'll do our best to sort it out.{/t}
    </p>
    
    <div class="paypal">
      
      <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="SXQD4CT26Z95N">
        <input type="hidden" name="lc" value="EN">
        <input type="hidden" name="item_name" value="Synergy Premium">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="http://synergy-foss.org/premium/?success">
        <input type="hidden" name="cancel_return" value="http://synergy-foss.org/premium/?cancel">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="amount" value="{$amount}">
        <input type="hidden" name="custom" value="{$userId}">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
        <input type="image" src="{$baseUrl}/img/paypal.png" border="0">
      </form>
    </div>
    
    <div class="google">
      
      <form id="google" action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/158941555171301" method="post">
        <input type="hidden" name="item_name_1" />
        <input type="hidden" name="item_description_1" />
        <input type="hidden" name="item_quantity_1" value="1" />
        <input type="hidden" name="item_currency_1" value="GBP"/>
        <input type="hidden" name="item_price_1" />
        <input type="hidden" name="_charset_" value="utf-8" />
        <input type="hidden" name="continue_url" value="http://synergy-foss.org/premium/?success" />
        <input type="hidden" name="shopping-cart.merchant-private-data" value="{$userId},{$amount}">
        <input type="image" src="{$baseUrl}/img/google.png" border="0" />
      </form>
    </div>
    
    <div class="creditcard">
      
      <img src="{$baseUrl}/img/creditcards-sm.png" />
      
      {if $showCardFailed}
      
      <div class="caution">
        <p>
{t}Sorry, your card payment failed. Please check your details and try again.
You may need to contact your card issuer or bank for more information.{/t}
        </p>
        <p>
{t}Alternatively you can still use PayPal or Google Wallet by clicking on the
logos above.{/t}
        </p>
        <p>{t error=$cardFailMessage}<b>Error:</b> %1{/t}</p>
      </div>
      
      {/if}
      
      {if $showCardSuccess}
      
      <div class="greenNotice">
        <p>{t}Thanks, your credit card payment of &dollar;{$amount} was successful.{/t}</p>
        <p>{t url="../premium/"}Continue to <a href="%1">Synergy Premium</a>.{/t}</p>
      </div>
      
      {/if}
      
      {if $showCardForm}
      
      <form id="creditcard" action="." method="post">
        <input name="amount" type="hidden" value="{$amount}" />
        <div class="box">
          <p>
            <label for="number">{t}Card number:{/t}</label>
            <input id="number" name="number" type="text" value="{$card.number}" />
          </p>
          <p>
            <label for="name">{t}Name on card:{/t}</label>
            <input id="name" name="name" type="text" value="{$card.name}" />
          </p>
          <p>
            <label for="number">{t}Expiration:{/t}</label>
            <select name="month">
            {foreach from=$monthList item=_month}
              <option value="{$_month.number}" {if $_month.number == $card.month}selected{/if}>{$_month.text}</option>
            {/foreach}
            </select>
            <select name="year">
            {for $_year=$startYear to $endYear}
              <option value="{$_year}" {if $_year == $card.year}selected{/if}>{$_year}</option>
            {/for}
            </select>
          </p>
          <p>
            <label for="cvv2">{t}Security code:{/t}</label>
            <input id="cvv2" name="cvv2" type="text" style="width: 5em" value="{$card.cvv2}" />
            <a href="http://en.wikipedia.org/wiki/Card_security_code" target="_blank">{t}Huh?{/t}</a>
          </p>
        </div>
        <div class="buttons">
          <input id="ok" class="ok" type="submit" value="Pay now" />
        </div>
      </form>
      
      {/if}
    
    </div>
    
  </div>

</div>
