<div class="premium-register">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Synergy Premium{/t}</h2>
    <p class="success">{t}Thanks again for supporting the Synergy project! You rock!{/t}</p>
    
    {if $showNotify}
    
    <p>{t}Would you like us to email you when new features are available?{/t}</p>
    <ul class="notify">
      <li><a href="./?notify=yes">{t}Yes, email me only about new features{/t}</a></li>
      <li><a href="./?notify=no">{t}No, don't email me about anything{/t}</a></li>
    </ul>
    
    {/if}
    
    {if $showForm}
    
    <form method="post">
      <div class="amount-box">
        <input type="textbox" id="amount" name="amount" value="${$amount}" />
        <div class="amount">
          <div class="slider"></div>
        </div>
      </div>
      
      <p><a href="../">{t}Already registered?{/t}</a></p>
      
      <p>
  {t}We promise to not spam your email and we never store passwords in
  plain text (we only keep a hash).{/t}
      </p>
      
      {if $error}
      <div class="error ui-state-highlight">
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <p>{$error}</p>
      </div>
      {/if}
      
      <div class="form">
        <div class="box">
          <p><label for="name">{t}Your name:{/t}</label><input name="name" id="name" type="textbox" value="{$name}" /></p>
          <p><label for="email1">{t}Email address:{/t}</label><input name="email1" id="email1" type="textbox" value="{$email1}" /></p>
          <p><label for="email2">{t}Confirm email:{/t}</label><input name="email2" id="email2" type="textbox" value="{$email2}" /></p>
          <p><label for="password1">{t}New password:{/t}</label><input name="password1" id="password1" type="password" value="{$password1}" /></p>
          <p><label for="password2">{t}Confirm password:{/t}</label><input name="password2" id="password2" type="password" value="{$password2}" /></p>
        </div>
        <div class="buttons">
          <input class="ok" type="submit" value="{t}Continue{/t}" />
        </div>
      </div>
      
    </form>
    
    {/if}
  
  </div>

</div>
