<div class="premium-reset">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Synergy Premium{/t}</h2>
		<h3>{t}Reset password{/t}</h3>
		
		{if $emailForm}
		
    <p>
{t}If you've forgotten your password, no problem, just enter your email
and we'll send you a link to reset your password.{/t}
		</p>

		{if $error}
		<div class="error ui-state-highlight">
			<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
			<p>{$error}</p>
		</div>
		{/if}
		
    <form method="post">
      <div class="form">
        <div class="box">
          <p><label for="email">{t}Email address:{/t}</label><input name="email" id="email" type="textbox" value="{$email}" /></p>
        </div>
        <div class="buttons">
          <input class="ok" type="submit" value="{t}Continue{/t}" />
        </div>
      </div>
    </form>
		
		{/if}
		
		{if $emailSuccess}
		
    <p>
{t email=$email}A password reset link has been sent to <b>%1</b>,
please check your email. If you don't see the message, please check
your junk mail.{/t}
		</p>
		
		{/if}
		
		{if $passwordForm}
		
    <p>
{t}Please enter your new password.{/t}
		</p>

		{if $error}
		<div class="error ui-state-highlight">
			<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
			<p>{$error}</p>
		</div>
		{/if}
		
    <form method="post">
      <div class="form">
        <div class="box">
          <p><label for="password1">{t}New password:{/t}</label><input name="password1" id="password1" type="password" /></p>
          <p><label for="password2">{t}Confirm password:{/t}</label><input name="password2" id="password2" type="password" /></p>
        </div>
        <div class="buttons">
          <input class="ok" type="submit" value="{t}Continue{/t}" />
        </div>
      </div>
    </form>
		
		{/if}
		
  </div>

</div>
