Source: synergy
Section: utils
Priority: optional
Standards-Version: 3.9.7
Homepage: https://www.symless.com/
Maintainer: Symless <engineering@symless.com>

Package: synergy
Architecture: amd64
Section: utils
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qml-module-qtquick-controls (>= 5.0.2),
         qml-module-qtquick-layouts (>= 5.0.2),
         qml-module-qtquick-dialogs (>= 5.0.2),
         qml-module-qtquick2 (>= 5.0.2)
Description: Keyboard and mouse sharing solution
 Synergy allows you to share one mouse and keyboard between multiple computers.
 Work seamlessly across Windows, macOS and Linux.
Homepage: https://symless.com/synergy
