{if $social == "facebook"}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=2334487070";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{/if}

<div class="download-file">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">

    <h2>{t}Download{/t}: <span class="title">{$title}</span></h2>
    
    {if !$premium->isUserPremium()}
    {$custom}
    {else}
    <p>{t}Thanks for supporting Synergy! No ads for you :-){/t}</p>
    {/if}
    
    <div class="text">
      
      {if $isOld}
      <div class="warning">
        <p>
{t url1="./"}<b>Important:</b> Please try using the
<a href="%1">latest version</a> before trying older versions. The version
available from this page is obsolete and may contain bugs fixed in the
latest version.{/t}
        </p>
      </div>
      {/if}
      
      <p class="link"><b>{t}Download{/t}:</b> <a href="{$link}">{$file}</a></p>
      
      <p>
{t url1="../premium/"}While your file is downloading, please take a look at
<a href="%1">Synergy Premium</a>.{/t}
      </p>
      
    </div>
    
    {if $social == "facebook"}
    
    <div class="fb-like-box" data-href="https://www.facebook.com/SynergyOpenSource" data-width="730" data-show-faces="true" data-stream="false" data-header="true"></div>
    
    {else if $social == "renren"}
    
    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://widget.renren.com/plugin/follow?page_id=601718008" style="width:110px;height:190px;"></iframe>
    
    {/if}
  
  </div>

</div>
