<div class="download-premium">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">
    
    {if $showDonateMessage}
    <div class="donateMessage">
    <h2>Donate to Synergy</h2>
    <p>
{t}Thanks for offering to donate! We really appreciate your support. We've
replaced our donate button with Synergy Premium. It's like donating only you
get the power to vote in return for your contribution. You don't have to vote
either, it's entirely up to you.{/t}
    </p>
    </div>
    {/if}
    
    <div class="donateMessage">
      <h2>{t}Urgent Appeal from The Synergy Project{/t}</h2>
      <p>
<img src="{$baseUrl}/img/icons/warn.png" style="margin-bottom: -.1em" />
&nbsp;<b>{t}We urgently need your help to fund this open source project.{/t}</b>
      </p>
      <p>
{t}Please consider a generous donation to help us fund this open source project.
Funding is spent on writing code (fixing bugs and adding new features). Premium
users who contribute significantly are given voting rights (one vote per $10),
so you will have your say on what we should do.{/t}
      </p>
      <p>
{t}Thanks so much for reading. We hope you decide to help us out and
join our beloved family of Synergy Premium users.{/t}
      </p>
      <p>
        <img src="{$baseUrl}/img/icons/user.png" style="margin-bottom: -.1em" />
        <b>Nick Bolton<br />
        <em>{t}Synergy Project Leader{/t}</em></b>
      </p>
    </div>
    
    <div class="premium">
      <form action="{$formUrl}" method="get">
        <div class="info">
          
          <h2>{t}Premium{/t}</h2>
          <p>{t}You decide what to donate.{/t}</p>
          
          <input type="textbox" id="amount" name="amount" value="$50" />
          <div class="amount">
            <div class="slider"></div>
          </div>
          
          <div>
            <img src="{$baseUrl}/img/paypal-sm.png" style="margin-top: 5px" />
            <img src="{$baseUrl}/img/google-sm.png" style="margin-bottom: 5px; margin-left: 5px" />
          </div>
          
          <p><em>{t}Use the slider, or enter any value into the textbox.{/t}</em></p>
          
        </div>
        <input type="submit" value="{t}Continue{/t}" />
      </form>
    </div>
    
    <div class="or">
      <p>{t}or{/t}</p>
    </div>
    
    <div class="free">
      <div class="info">
      
        <h2>{t}Non-premium{/t}</h2>
        
      </div>
      <p><a href="?list">{t}Continue{/t}</a> <img src="{$baseUrl}/img/icons/sad.png" style="margin-bottom: -.2em" /></p>
    </div>
    
    <div style="width: 100%; clear: both"></div>
    
    <h3>{t}Top 10 Votes{/t}</h3>
    <p>
      {t}Register for Synergy Premium to cast your vote ($10 per vote).{/t}<br />
      {t}The highest voted issue is given our full attention for the next release.{/t}
    </p>
    <ol class="votes">
      {foreach from=$premium->getAllVotes(10) item=vote}
      <li>
        <a href="/spit/issues/details/{$vote->issueId}/" target="_blank">#{$vote->issueId}</a> - {t votes=$vote->voteCountSum}%1 votes{/t}
      {if $vote->status == 1}
        - <span class="doing">Doing</span> <img class="icon16" src="{$baseUrl}/img/icons/doing.png" />
      {elseif $vote->status == 3}
        - <span class="doing">Next</span> <img class="icon16" src="{$baseUrl}/img/icons/wait.png" />
      {elseif $vote->status == 2}
        - <span class="done">Done!</span> <img class="icon16" src="{$baseUrl}/img/icons/done.png" />
      {/if}
      </li>
      {/foreach}
    </ol>
  
  </div>

</div>
