<div class="download-premium">

  <div class="title">
    <div class="logo">
      <img src="{$baseUrl}/img/icon.png" /><h1 class="title">Synergy</h1>
    </div>
  </div>
  
  <div class="inner-content">
    
    {if $showDonateMessage}
    <div class="donateMessage">
    <h2>Donate to Synergy</h2>
    <p>
{t}Thanks for offering to donate! We really appreciate your support. We've
replaced our donate button with Synergy Premium. It's like donating only you
get the power to vote in return for your contribution. You don't have to vote
either, it's entirely up to you.{/t}
    </p>
    </div>
    {/if}
    
    <div class="caution">
      <h2>{t}Urgent Appeal from Synergy!{/t}</h2>
      <p>
{t}We urgently need your help to fund the continued development of Synergy.{/t}
      </p>
      <p>
{t}We rely on Synergy Premium accounts to fund development. We are now
supporting 2 full time software engineers working on Synergy. Even if you
can only contribute just $1, it might not seem like much, it really is an
enormous help for the project!{/t}
      </p>
      <p>
{t}What's best is that Premium users (with votes) are the only ones who can
tell us what to work on.{/t}
      </p>
      <p>
{t}Please choose the option on the left and open a Synergy Premium account
for as little as $1. You'll be helping us keep the Synergy project alive
for the price of a can of Coke! :-){/t}
      </p>
      <p>
{t}Thanks so much for reading, and we hope you decide to help us out.{/t}
      </p>
      <p>
        <b>Nick Bolton<br />
        <a href="https://twitter.com/NickBoltonUK">@NickBoltonUK</a><br />
        <em>{t}Synergy Project Leader{/t}</em></b>
      </p>
    </div>
    
    <div class="premium">
      <form action="{$formUrl}" method="get">
        <div class="info">
          
          <h2>{t}Premium{/t}</h2>
          <p>{t}You decide what to contribute.{/t}</p>
          
          <input type="textbox" id="amount" name="amount" value="$1" />
          <div class="amount">
            <div class="slider"></div>
          </div>
          
          <p><em>{t}Use the slider, or enter any value into the textbox.{/t}</em></p>
          
        </div>
        <input type="submit" value="{t}Continue{/t}" />
      </form>
    </div>
    
    <div class="or">
      <p>{t}or{/t}</p>
    </div>
    
    <div class="free">
      <div class="info">
      
        <h2>{t}Non-premium{/t}</h2>
        <p>{t}I'm not giving you guys a dime!{/t}</p>
        <p>:-(</p>
        
      </div>
      <p><a href="?list">{t}Continue{/t}</a></p>
    </div>
    
    <h3>{t}Top 10 Votes{/t}</h3>
    <p>
      {t}Register for Synergy Premium to cast your vote ($10 per vote).{/t}<br />
      {t}The highest voted issue is given our full attention for the next release.{/t}
    </p>
    <ol class="votes">
      {foreach from=$premium->getAllVotes(10) item=vote}
      <li>
        <a href="/spit/issues/details/{$vote->issueId}/" target="_blank">#{$vote->issueId}</a> - {t votes=$vote->voteCountSum}%1 votes{/t}
      {if $vote->status == 1}
        - <span class="doing">Doing</span> <img class="icon16" src="{$baseUrl}/img/icons/doing.png" />
      {elseif $vote->status == 2}
        - <span class="done">Done!</span> <img class="icon16" src="{$baseUrl}/img/icons/done.png" />
      {/if}
      </li>
      {/foreach}
    </ol>
  
  </div>
  
  <div class="info-dialog">
    <h2>{t}Synergy Premium{/t}</h2>
    <p>
{t}Thanks for your interest in Synergy Premium, we really appreciate your
support. Funding allows us to spend more time improving Synergy.
Support the Synergy project by registering a Synergy Premium account today.{/t}
    </p>
    
    <p>
{t}If you can only contribute $1, that's totally fine by us! Anything at all
will allow us to spend more time working on Synergy.{/t}
    </p>

    <p>
{t}If you decide to contribute $10, then you get a premium vote. For each
additional $10, you get another vote. You can cast this vote on any bug
or feature. We will try our best to fix the highest voted feature in the
next version. If we can't fix it then you get your votes back, simple.{/t}
    </p>
    
    <p>
{t}It's people like you that make Synergy a better piece of software! :-){/t}
    </p>
    
    <p><a class="close" href="javascript:void(0)">{t}OK{/t}</a></p>
  </div>

</div>
